-block_off(:sidebar)
%h3.nol-bold.center-text
	%i.icon.icon-unlock
	Ubah Password
%hr

.row-fluid
	.span6.offset3
		=form_for(@user, :url => edit_password_profile_path) do |f|
			=f.label :current_password
			=f.password_field :current_password, :class => 'span12'
			%hr
			=f.label :password, "New Password"
			=f.password_field :password, :class => 'span12'
			=f.label :password_confirmation
			=f.password_field :password_confirmation, :class => 'span12'
			.form-actions.center-text
				=f.button '<i class="icon icon-ok"></i> Save'.html_safe, :class => 'btn btn-primary'
				=link_to '<i class="icon icon-arrow-left"></i> Back'.html_safe, profile_path, :class => 'btn'
