.component-heading
	.row-fluid
		.span8
			%small Editing Product
			%h3.no-bold
				%i.icon.icon-barcode
				=@product.name_version
		.span4
			.pull-right
				= link_to 'Back', products_path, :class => 'btn'


= render 'form'
